*{
    margin: 0;
padding: 0;
box-sizing: border-box;
}

:root{
  --color_primario: #e297f5; 
  --color_secundario: #2a2929;
  --color_blanco:#e9e6e6;
  --tamaño_fuente: 10px;
  --maximo_ancho: 600px;
  --alto_nav: 70px;
}

::selection{
    background-color: var(--color_primario);
    color: var(--color_secundario);
}

html{
    scroll-behavior: smooth;
}

body{
    font: size var(--tamaño_fuente);
    background-color: #2a2929;
    color: var(--color_blanco);
}

header{
    background-color: var(--color_primario);
    color: var(--color_secundario);
   position: sticky;
   width: 100%;
   top: 0;
}
/* section{
    height: calc(100vh - var(--alto_nav));
} */

a {
    text-decoration: none; 
    color: var(--color_secundario); 
}


.logo{
    height: 50px;
}

.contenedor{
    width: 100%;
    max-width: var(--maximo_ancho);
    margin: 0 auto;
    overflow: hidden;
}

.h-100{
    height: calc(100vh - var(--alto_nav));
}

/* .nav{
height: 70px;
} */


.nav__contenedor{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.nav__lista{
    height: calc(100vh var(--alto_nav));
    list-style: none;
    display: flex;
    align-items: center;
    gap: 2rem;
}

.nav__link{
    text-decoration: none;
    color: var(--color_secundario);
    font-weight: bold;
}

/**---------------------------
Principal
------------------------------
**/

.principal{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.imagen_principal{
    order: 1;
    height: 200px;
    flex-basis: 50%;
}

.contenedor-textos{
order: 0;
flex-basis: 45;
}



.parrafo{
    margin: 20px 0;
    font-weight: 300;
    font-size: 20px;
}

.btn{
    display: inline-block;
    background-color: var(--color_primario);
    color: var(--color_secundario);
    text-decoration: none;
    font-weight: 700;
    padding:16px 30px ;
    border-radius: 30px;
}
.btn--negro{
    background-color: var(--color_secundario);
    color: var(--color_blanco);
}

.nosotros{
    height: 200px;
}

/* --------------Servicios------------------ */

.servicios{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.text-center{
    text-align: center;
}

.cards{
display: flex;
align-items: center;
justify-content: space-evenly;
flex-wrap: wrap;
}

.card__item{
max-width: 350px;
width: 30%;
box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
text-align: center;
background-color: var(--color_blanco);
color: var(--color_secundario);
padding: 40px 0;
border-radius: 10px;
}

.card__item--activo{
background-color: var(--color_primario);
}

.card__plan{
margin-bottom: 20px;
}

.card__precio{
font-size: 2rem;
margin-bottom: 20px;
}

.card__caracteristica{
    margin-bottom: 25px;
}

/*-----------------Galeria-----------------
 */

 .galeria{
    display: flex;
    flex-wrap: wrap;
    padding: auto;
    justify-content: center;
    gap: 40px;
    margin: 20px auto;
    max-width: 900px;
 }
 .imagen{
    box-sizing: border-box;
    width: 30%;
    aspect-ratio: 4 / 3;
    object-fit: cover;
    margin:auto;
    padding: 0;
    border: 1px solid #fff;
 }

 .titulo{
    text-align: center;
 }

 .parrafo{
    text-align: center;
    margin-bottom: 60px;
 }


 /*----------------------------formulario-------------------------------------- 
  */

  #formulario {
    text-align: center;
    padding: 10px 40px;
    width: 300px;
}


form label {
    color: var(--color_blanco); 
}

.contactenos,
.texto {
    text-decoration: none; 
    color: var(--color_blanco); 
    text-align: center;
}


.contactenos {
    text-decoration: none;
    margin-bottom: 10px;
    font-size: 24px;
    color: #fff;
}


.texto {
    text-decoration: none;
    margin-bottom: 20px;
    font-size: 14px;
    color: #bbb;
}

form {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

input[type="submit"]:hover {
    background-color: var(--color_secundario); 
    color: var(--color_blanco);
}

label {
    font-size: 14px;
    text-align: left;
    margin-bottom: 3px;
}

input[type="text"],
input[type="email"],
input[type="number"],
textarea {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    background-color: #ffffff; 
    color: #fff; 
}

input[type="submit"] {
    padding: 10px;
    border: none;
    border-radius: 20px;
    font-size: 14px;
    color: #fff;
    background-color: var(--color_primario); 
    cursor: pointer;
    transition: background-color 0.3s;
}